{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends ea.templatePath('layout') %}
{% form_theme edit_form with ea.crud.formThemes only %}

{% trans_default_domain ea.i18n.translationDomain %}

{% block body_id 'ea-edit-' ~ entity.name ~ '-' ~ entity.primaryKeyValue %}
{% block body_class 'ea-edit ea-edit-' ~ entity.name %}

{% set ea_field_assets = ea.crud.fieldAssets(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Crud::PAGE_EDIT')) %}

	{% block head_javascript %}
{# {{ parent() }} #}
	{# <script src="{{ asset('bundles/easyadmin/form.js') }}"> #}
</script>{% endblock head_javascript %}{% block configured_head_contents %}
{{ parent() }}
{% for htmlContent in ea_field_assets.headContents %}
	{{ htmlContent|raw }}
{% endfor %}{% endblock %}{% block configured_body_contents %}
{{ parent() }}
{% for htmlContent in ea_field_assets.bodyContents %}
	{{ htmlContent|raw }}
{% endfor %}{% endblock %}{% block configured_stylesheets %}
{{ parent() }}
{{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea_field_assets.cssAssets }, with_context = false) }}
{{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}{% endblock %}{% block configured_javascripts %}
{{ parent() }}
{{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea_field_assets.jsAssets }, with_context = false) }}
{{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}{% endblock %}{% block page_actions %}
{% for action in entity.actions %}
	{{ include(action.templatePath, { action: action }, with_context = false) }}
{% endfor %}{% endblock %}{% block main %}<!-- Basic Vertical form layout section start --><section id="basic-vertical-layouts">
<div class="row">
	<div class="col-md-6 col-12">
		<div class="card">
			<div class="card-body">
				{% block edit_form %}
				{{ form_start(edit_form, {attr: {class: 'form form-vertical'}}) }}
				<div class="row">
					<div class="col-12">
						<div class="mb-1">
							{{form_label(edit_form.responsable)}}
							{{ form_widget(edit_form.responsable, {attr: {class: 'form-select form-select-lg'}}) }}
							{{ form_errors(edit_form.responsable) }}
						</div>
					</div>
					<div class="col-12">
						<div class="mb-1">
							{{form_label(edit_form.composant)}}
							{{ form_widget(edit_form.composant, {attr: {class: 'form-select form-select-lg'}}) }}
							{{ form_errors(edit_form.composant) }}
						</div>
					</div>
					<div class="col-12">
						<div class="mb-1">
							{{form_label(edit_form.parent_id)}}
							{{ form_widget(edit_form.parent_id, {attr: {class: 'form-select form-select-lg'}}) }}
						</div>
					</div>
					<div class="col-12">
						<div class="mb-1">
							{{form_label(edit_form.libelle)}}
							<div class="input-group input-group-merge">
								<span class="input-group-text">
									<i data-feather="user"></i>
								</span>
								{{form_widget(edit_form.libelle, {attr: {placeholder: 'Nom de l\'activité'}})}}
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="mb-1">
										{{form_label(edit_form.date_debut)}}{{form_widget(edit_form.date_debut, {attr: {class: 'form-control flatpickr-basic', placeholder: 'YYYY-MM-DD'}}
										)}}
									</div>
								</div>
								<div class="col-12">
									<div class="mb-1">
										{{form_label(edit_form.date_fin)}}{{form_widget(edit_form.date_fin, {attr: {class: 'form-control flatpickr-basic', placeholder: 'YYYY-MM-DD'}}
										)}}
									</div>
								</div>
								<div class="col-12">
									<div class="mb-1">
										{{form_label(edit_form.niveau_achevement)}}
										<div class="input-group input-group-merge">
											<span class="input-group-text">
												<i data-feather="user"></i>
											</span>
											{{form_widget(edit_form.niveau_achevement, {attr: {placeholder: '% Achevement'}})}}
										</div>
									</div>
								</div>
							</div>
							{{ form_end(edit_form) }}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Basic Vertical form layout section end -->


	{% block delete_form %}
		{{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
	{% endblock delete_form %}
{% endblock %}
