{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends ea.templatePath('layout') %}
{% form_theme new_form with ea.crud.formThemes only %}
{% set entity_name = entity.fqcn %}
{% trans_default_domain ea.i18n.translationDomain %}

{% block body_id 'ea-new-' ~ entity.name %}
{% block body_class 'ea-new ea-new-' ~ entity.name %}

{% set ea_field_assets = ea.crud.fieldAssets(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Crud::PAGE_NEW')) %}

	{% block head_javascript %}{{ parent() }}<script src="{{ asset('form.js', ea.assets.defaultAssetPackageName) }}"> </script>
{% endblock head_javascript %}

{% block configured_head_contents %}
	{{ parent() }}
	{% for htmlContent in ea_field_assets.headContents %}
		{{ htmlContent|raw }}
	{% endfor %}
{% endblock %}

{% block configured_body_contents %}
	{{ parent() }}
	{% for htmlContent in ea_field_assets.bodyContents %}
		{{ htmlContent|raw }}
	{% endfor %}
{% endblock %}

{% block configured_stylesheets %}
	{{ parent() }}
	{{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea_field_assets.cssAssets }, with_context = false) }}
	{{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block configured_javascripts %}
	{{ parent() }}
	{{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea_field_assets.jsAssets }, with_context = false) }}
	{{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block content_title %}
	{%- apply spaceless -%}
	{% set custom_page_title = ea.crud.customPageTitle('new', null, ea.i18n.translationParameters) %}
	{{ custom_page_title is null
            ? ea.crud.defaultPageTitle('new', null, ea.i18n.translationParameters)|trans|raw
            : custom_page_title|trans|raw }}
	{%- endapply -%}
{% endblock %}

{% block page_actions %}
	{% for action in entity.actions %}
		{{ include(action.templatePath, { action: action }, with_context = false) }}
	{% endfor %}
{% endblock %}

{% block main %}
	<section id="basic-vertical-layouts">
		<div class="row">
			<div class="col-md-6 col-12">
				<div class="card">
					<div class="card-body">
						{% block new_form %}
							{{ form_start(new_form, {attr: {class: 'form form-vertical'}}) }}
							{# <form class="form form-vertical"> #}
							<div class="row">
								<div class="col-12">
									<div
										class="mb-1">
										{{form_label(new_form.libelle)}}
										<div class="input-group input-group-merge">
											<span class="input-group-text">
												<i data-feather="user"></i>
											</span>
											{{form_widget(new_form.libelle, {attr: {placeholder: 'Libelle du composant'}})}}
										</div>
									</div>
								</div>
							</div>
							{{ form_end(new_form) }}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block body_javascript %}
	<script src="{{ asset('app-assets/vendors/js/pickers/pickadate/picker.js') }}"></script>
	<script src="{{ asset('app-assets/vendors/js/pickers/pickadate/picker.date.js') }}"></script>
	<script src="{{ asset('app-assets/vendors/js/pickers/pickadate/picker.time.js') }}"></script>
	<script src="{{ asset('app-assets/vendors/js/pickers/pickadate/legacy.js') }}"></script>
	<script src="{{ asset('app-assets/js/scripts/forms/pickers/form-pickers.min.js') }}"></script>
	{# <script src="{{ asset('app-assets/js/scripts/forms/form-select2.min.js') }}"></script> #}
{% endblock %}

{% block head_stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('app-assets/css/plugins/forms/pickers/form-pickadate.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('app-assets/css/plugins/forms/pickers/form-flat-pickr.min.css')}}">
	<style>
		#ea-lightbox-Suspect_photoFile {
			display: none;
		}
		.ea-lightbox-thumbnail img {
			width: 250px;
			height: 250px;
		}
	</style>
{% endblock %}
